<div class="col-md-12">
    <div class="row box">
      <div class="box-inner col-md-6 col-md-offset-3">
        <h1 class="title">‘坛’论天下</h1>
        <p class="slogan">’坛’论天下是提供一个八卦世界的平台
          <br>
          我们希望借由这个网站，能让大家把自己的看法淋漓尽致地表达出来。
          <br>
          凭借自己的努力和天份，我们也会变 滔滔不绝天上来的雄辩大家
        </p>
        <p class="lead">
          <%= link_to '寻找组织', groups_path, class: 'btn btn-danger' %>
        </p>
      </div>
    </div>
  </div>


    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">开始前一定要吃饭</h2>
            <p class="lead">因为没吃饭就没力气说话、讨论</p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <%= image_tag '1.jpg', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>

    <div class="content-section-b">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">一定要把自己的观点想清楚</h2>
            <p class="lead">如果不想清楚别人可能理解错 <a target="_blank" href="http://blog.niclin.tw">发起人：</a>南明先生</p>
          </div>
          <div class="col-lg-5 col-sm-pull-6  col-sm-6">
            <%= image_tag '2.jpg', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>

    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">三寸之舌<br>舌灿莲花</h2>
            <p class="lead">说吧<a target="_blank" href="https://forum.qzy.camp/">论坛天下</a></p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <%= image_tag '3.jpg', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>
